.section {
    background-color: #00b7ff;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #3A4042;
}

.section .main-title.-second {
    margin-bottom: 60px;
}

.section.-black {
    background-color: #000;
}